{"http_interactions":[{"request":{"method":"post","uri":"https://api.twitter.com/oauth2/token","body":{"encoding":"UTF-8","string":"grant_type=client_credentials"},"headers":{"Authorization":["Basic MTIzOllUZDdOTFhnZXhWM0thV0FmY25SaGlOUzJwV0pNOWswTzVSQks4MU1DamhCMDVkVERi"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":403,"message":"Forbidden"},"headers":{"Content-Disposition":["attachment; filename=json.json"], "Content-Type":["application/json;charset=utf-8"], "Last-Modified":["Tue, 18 Feb 2020 14:59:58 GMT"], "Ml":["A"], "Status":["403 Forbidden"], "X-Connection-Hash":["856bc4ed9e89319ab13c0238d57be9d4"], "X-Response-Time":["125"], "X-Transaction":["00125ff900bf75e6"], "X-Tsa-Request-Body-Time":["0"], "X-Twitter-Response-Tags":["BouncerCompliant"]},"body":{"encoding":"UTF-8","string":"{\"errors\":[{\"code\":99,\"message\":\"Unable to verify your credentials\",\"label\":\"authenticity_token_error\"}]}"},"http_version":null},"recorded_at":"Tue, 18 Feb 2020 14:59:58 GMT"},{"request":{"method":"get","uri":"https://api.twitter.com/1.1/search/tweets.json?count=10\u0026q=ruby%20-rt\u0026result_type=recent\u0026tweet_mode=extended","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["Bearer "]}},"response":{"status":{"code":400,"message":"Bad Request"},"headers":{"Content-Type":["application/json; charset=utf-8"], "X-Connection-Hash":["548d4aee1397d3089efa2677ae506a09"], "X-Response-Time":["122"]},"body":{"encoding":"UTF-8","string":"{\"errors\":[{\"code\":215,\"message\":\"Bad Authentication data.\"}]}"},"http_version":null},"recorded_at":"Tue, 18 Feb 2020 14:59:58 GMT"}],"recorded_with":"VCR 4.0.0"}