{"http_interactions":[{"request":{"method":"post","uri":"https://api.twitter.com/oauth2/token","body":{"encoding":"UTF-8","string":"grant_type=client_credentials"},"headers":{"Authorization":["Basic TEZQeVNqVkgyQk1ndkV5ZTBXWEJxTkNvRTpZVGQ3TkxYZ2V4VjNLYVdBZmNuUmhpTlMycFdKTTlrME81UkJLODFNQ2poQjA1ZFREYg=="], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["attachment; filename=json.json"], "Content-Type":["application/json;charset=utf-8"], "Last-Modified":["Tue, 18 Feb 2020 14:38:51 GMT"], "Ml":["A"], "Status":["200 OK"], "X-Connection-Hash":["282c9789c5475fda4a9c976336079877"], "X-Response-Time":["138"], "X-Transaction":["00bd518800831248"], "X-Tsa-Request-Body-Time":["1"], "X-Twitter-Response-Tags":["BouncerCompliant"]},"body":{"encoding":"UTF-8","string":"{\"token_type\":\"bearer\",\"access_token\":\"AAAAAAAAAAAAAAAAAAAAAJhI%2BAAAAAAA6C5Oefk%2BXoRM5Bmz3tLojT2uFAE%3DN60klB5yBqHs7bG2Mko5oRqSDSMvt766FWDlwP6jDfc131sLmG\"}"},"http_version":null},"recorded_at":"Tue, 18 Feb 2020 14:38:51 GMT"},{"request":{"method":"get","uri":"https://api.twitter.com/1.1/search/tweets.json?count=10\u0026q=ruby%20-rt\u0026result_type=recent\u0026tweet_mode=extended","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["Bearer AAAAAAAAAAAAAAAAAAAAAJhI%2BAAAAAAA6C5Oefk%2BXoRM5Bmz3tLojT2uFAE%3DN60klB5yBqHs7bG2Mko5oRqSDSMvt766FWDlwP6jDfc131sLmG"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["attachment; filename=json.json"], "Content-Type":["application/json;charset=utf-8"], "Last-Modified":["Tue, 18 Feb 2020 14:38:51 GMT"], "Status":["200 OK"], "X-Access-Level":["read"], "X-Connection-Hash":["63025d42de74bc2d0678d958aa321632"], "X-Rate-Limit-Limit":["450"], "X-Rate-Limit-Remaining":["449"], "X-Rate-Limit-Reset":["1582037631"], "X-Response-Time":["215"], "X-Transaction":["00a7af5200d8f45f"], "X-Twitter-Response-Tags":["BouncerCompliant"]},"body":{"encoding":"UTF-8","string":"{\"statuses\":[{\"created_at\":\"Tue Feb 18 14:38:49 +0000 2020\",\"id\":1229777293175738370,\"id_str\":\"1229777293175738370\",\"full_text\":\"@_s_h332 \\ub098 \\uc9c0\\uae08 \\uc720\\ud639\\ub2f9\\ud588\\uc5b4\",\"truncated\":false,\"display_text_range\":[9,19],\"entities\":{\"hashtags\":[],\"symbols\":[],\"user_mentions\":[{\"screen_name\":\"_s_h332\",\"name\":\"\\uc288\",\"id\":893005347341746176,\"id_str\":\"893005347341746176\",\"indices\":[0,8]}],\"urls\":[]},\"metadata\":{\"result_type\":\"recent\",\"iso_language_code\":\"ko\"},\"source\":\"\\u003ca href=\\\"http:\\/\\/twitter.com\\/download\\/android\\\" rel=\\\"nofollow\\\"\\u003eTwitter for Android\\u003c\\/a\\u003e\",\"in_reply_to_status_id\":1229776560296583170,\"in_reply_to_status_id_str\":\"1229776560296583170\",\"in_reply_to_user_id\":893005347341746176,\"in_reply_to_user_id_str\":\"893005347341746176\",\"in_reply_to_screen_name\":\"_s_h332\",\"user\":{\"id\":1144551593309638661,\"id_str\":\"1144551593309638661\",\"name\":\"Ruby\",\"screen_name\":\"ruby_cos\",\"location\":\"\",\"description\":\"\\uc131\\uc778 | \\uace0\\uc804\",\"url\":null,\"entities\":{\"description\":{\"urls\":[]}},\"protected\":false,\"followers_count\":166,\"friends_count\":148,\"listed_count\":0,\"created_at\":\"Fri Jun 28 10:22:19 +0000 2019\",\"favourites_count\":2074,\"utc_offset\":null,\"time_zone\":null,\"geo_enabled\":false,\"verified\":false,\"statuses_count\":8912,\"lang\":null,\"contributors_enabled\":false,\"is_translator\":false,\"is_translation_enabled\":false,\"profile_background_color\":\"F5F8FA\",\"profile_background_image_url\":null,\"profile_background_image_url_https\":null,\"profile_background_tile\":false,\"profile_image_url\":\"http:\\/\\/pbs.twimg.com\\/profile_images\\/1225505393373261825\\/hN7n14WD_normal.jpg\",\"profile_image_url_https\":\"https:\\/\\/pbs.twimg.com\\/profile_images\\/1225505393373261825\\/hN7n14WD_normal.jpg\",\"profile_banner_url\":\"https:\\/\\/pbs.twimg.com\\/profile_banners\\/1144551593309638661\\/1561729208\",\"profile_link_color\":\"1DA1F2\",\"profile_sidebar_border_color\":\"C0DEED\",\"profile_sidebar_fill_color\":\"DDEEF6\",\"profile_text_color\":\"333333\",\"profile_use_background_image\":true,\"has_extended_profile\":true,\"default_profile\":true,\"default_profile_image\":false,\"following\":null,\"follow_request_sent\":null,\"notifications\":null,\"translator_type\":\"none\"},\"geo\":null,\"coordinates\":null,\"place\":null,\"contributors\":null,\"is_quote_status\":false,\"retweet_count\":0,\"favorite_count\":0,\"favorited\":false,\"retweeted\":false,\"lang\":\"ko\"},{\"created_at\":\"Tue Feb 18 14:38:48 +0000 2020\",\"id\":1229777290898350081,\"id_str\":\"1229777290898350081\",\"full_text\":\"Penny: \\u201cRuby, you mind telling me what you\\u2019re doing on Twitter?\\u201d\\n\\nRuby: \\u201cMa\\u2019am, finishing this fight.\\u201d\\n\\n(I\\u2019m sorry, I\\u2019ve been obsessed with Halo my entire life and 117 is my favorite number, so I had to do this post. It probably won\\u2019t be the last Halo-themed post either.) https:\\/\\/t.co\\/u6B2AQuZcM\",\"truncated\":false,\"display_text_range\":[0,272],\"entities\":{\"hashtags\":[],\"symbols\":[],\"user_mentions\":[],\"urls\":[],\"media\":[{\"id\":1229777286884462595,\"id_str\":\"1229777286884462595\",\"indices\":[273,296],\"media_url\":\"http:\\/\\/pbs.twimg.com\\/media\\/EREL7UGXkAM81Qy.jpg\",\"media_url_https\":\"https:\\/\\/pbs.twimg.com\\/media\\/EREL7UGXkAM81Qy.jpg\",\"url\":\"https:\\/\\/t.co\\/u6B2AQuZcM\",\"display_url\":\"pic.twitter.com\\/u6B2AQuZcM\",\"expanded_url\":\"https:\\/\\/twitter.com\\/IncorrectRxP\\/status\\/1229777290898350081\\/photo\\/1\",\"type\":\"photo\",\"sizes\":{\"medium\":{\"w\":686,\"h\":128,\"resize\":\"fit\"},\"thumb\":{\"w\":128,\"h\":128,\"resize\":\"crop\"},\"large\":{\"w\":686,\"h\":128,\"resize\":\"fit\"},\"small\":{\"w\":680,\"h\":127,\"resize\":\"fit\"}}}]},\"extended_entities\":{\"media\":[{\"id\":1229777286884462595,\"id_str\":\"1229777286884462595\",\"indices\":[273,296],\"media_url\":\"http:\\/\\/pbs.twimg.com\\/media\\/EREL7UGXkAM81Qy.jpg\",\"media_url_https\":\"https:\\/\\/pbs.twimg.com\\/media\\/EREL7UGXkAM81Qy.jpg\",\"url\":\"https:\\/\\/t.co\\/u6B2AQuZcM\",\"display_url\":\"pic.twitter.com\\/u6B2AQuZcM\",\"expanded_url\":\"https:\\/\\/twitter.com\\/IncorrectRxP\\/status\\/1229777290898350081\\/photo\\/1\",\"type\":\"photo\",\"sizes\":{\"medium\":{\"w\":686,\"h\[...]
{"request":{"method":"get","uri":"https://api.twitter.com/1.1/search/tweets.json?count=10\u0026q=brazil%20-rt\u0026result_type=recent\u0026tweet_mode=extended","body":{"encoding":"UTF-8","string":""},"headers":{"Authorization":["Bearer AAAAAAAAAAAAAAAAAAAAAJhI%2BAAAAAAA6C5Oefk%2BXoRM5Bmz3tLojT2uFAE%3DN60klB5yBqHs7bG2Mko5oRqSDSMvt766FWDlwP6jDfc131sLmG"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["attachment; filename=json.json"], "Content-Type":["application/json;charset=utf-8"], "Last-Modified":["Tue, 18 Feb 2020 14:40:58 GMT"], "Status":["200 OK"], "X-Access-Level":["read"], "X-Connection-Hash":["9fc6675db20966a1d50cbca783fcd8c1"], "X-Rate-Limit-Limit":["450"], "X-Rate-Limit-Remaining":["448"], "X-Rate-Limit-Reset":["1582037631"], "X-Response-Time":["246"], "X-Transaction":["00efb60e006f176e"], "X-Twitter-Response-Tags":["BouncerCompliant"]},"body":{"encoding":"UTF-8","string":"{\"statuses\":[{\"created_at\":\"Tue Feb 18 14:40:53 +0000 2020\",\"id\":1229777812451622914,\"id_str\":\"1229777812451622914\",\"full_text\":\"Coppola is playing @ #Outside #S\\u00e3o Luis do Maranh\\u00e3o #Brazil, Sat 02 May 2020  #gigs\",\"truncated\":false,\"display_text_range\":[0,83],\"entities\":{\"hashtags\":[{\"text\":\"Outside\",\"indices\":[21,29]},{\"text\":\"S\\u00e3o\",\"indices\":[30,34]},{\"text\":\"Brazil\",\"indices\":[52,59]},{\"text\":\"gigs\",\"indices\":[78,83]}],\"symbols\":[],\"user_mentions\":[],\"urls\":[]},\"metadata\":{\"iso_language_code\":\"pt\",\"result_type\":\"recent\"},\"source\":\"\\u003ca href=\\\"http:\\/\\/www.gigatools.com\\\" rel=\\\"nofollow\\\"\\u003eGigaTools\\u003c\\/a\\u003e\",\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":null,\"i[...]
{"request":{"method":"post","uri":"http://127.0.0.1:9515/session","body":{"encoding":"UTF-8","string":"{\"desiredCapabilities\":{\"browserName\":\"chrome\",\"version\":\"\",\"platform\":\"ANY\",\"javascriptEnabled\":true,\"cssSelectorsEnabled\":true,\"takesScreenshot\":false,\"nativeEvents\":false,\"rotatable\":false},\"capabilities\":{\"firstMatch\":[{\"browserName\":\"chrome\"}]}}"},"headers":{"Content-Type":["application/json; charset=UTF-8"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\"value\":{\"capabilities\":{\"acceptInsecureCerts\":false,\"browserName\":\"chrome\",\"browserVersion\":\"79.0.3945.130\",\"chrome\":{\"chromedriverVersion\":\"79.0.3945.36 (3582db32b33893869b8c1339e8f4d9ed1816f143-refs/branch-heads/3945@{#614})\",\"userDataDir\":\"/var/folders/7b/qg3sgst515d5n2srvk2_znlm0000gq/T/.com.google.Chrome.LePIgc\"},\"goog:chromeOptions\":{\"debuggerAddress\":\"localhost:55784\"},\"networkConnectionEnabled\":false,\"pageLoadStrategy\":\"normal\",\"platformName\":\"mac os x\",\"proxy\":{},\"setWindowRect\":true,\"strictFileInteractability\":false,\"timeouts\":{\"implicit\":0,\"pageLoad\":300000,\"script\":30000},\"unhandledPromptBehavior\":\"dismiss and notify\"},\"sessionId\":\"a541374279edc6e63d0f9f1f157198d2\"}}"},"http_version":null},"recorded_at":"Tue, 18 Feb 2020 15:15:09 GMT"},{"request":{"method":"post","uri":"http://127.0.0.1:9515/session/a541374279edc6e63d0f9f1f157198d2/window/rect","body":{"encoding":"UTF-8","string":"{\"x\":null,\"y\":null,\"width\":1400,\"height\":1400}"},"headers":{"Content-Type":["application/json; charset=UTF-8"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\"value\":{\"height\":738,\"width\":1400,\"x\":22,\"y\":23}}"},"http_version":null},"recorded_at":"Tue, 18 Feb 2020 15:15:09 GMT"},{"request":{"method":"get","uri":"http://127.0.0.1:55795/__identify__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{},"body":{"encoding":"UTF-8","string":"70295245218320"},"http_version":null},"recorded_at":"Tue, 18 Feb 2020 15:15:09 GMT"},{"request":{"method":"post","uri":"http://127.0.0.1:9515/session/a541374279edc6e63d0f9f1f157198d2/url","body":{"encoding":"UTF-8","string":"{\"url\":\"http://127.0.0.1:55795/\"}"},"headers":{"Content-Type":["application/json; charset=UTF-8"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\"value\":null}"},"http_version":null},"recorded_at":"Tue, 18 Feb 2020 15:15:10 GMT"},{"request":{"method":"post","uri":"http://127.0.0.1:9515/session/a541374279edc6e63d0f9f1f157198d2/elements","body":{"encoding":"UTF-8","string":"{\"using\":\"xpath\",\"value\":\"/html\"}"},"headers":{"Content-Type":["application/json; charset=UTF-8"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\"value\":[{\"element-6066-11e4-a52e-4f735466cecf\":\"97f387a0-3e41-4023-a802-f64c7c97700a\"}]}"},"http_version":null},"recorded_at":"Tue, 18 Feb 2020 15:15:10 GMT"},{"request":{"method":"post","uri":"http://127.0.0.1:9515/session/a541374279edc6e63d0f9f1f157198d2/execute/sync","body":{"encoding":"UTF-8","string":"{\"script\":\"return ((function(){function d(t,e,n){function r(t){var e=x(t);if(0\u003ce.height\u0026\u00260\u003ce.width)return!0;if(\\\"PATH\\\"==t.tagName.toUpperCase()\u0026\u0026(0\u003ce.height||0\u003ce.width)){var n=window.getComputedStyle(t)[\\\"stroke-width\\\"];return!!n\u0026\u00260\u003cparseInt(n,10)}return\\\"hidden\\\"!=window.getCom[...]
{"request":{"method":"get","uri":"http://127.0.0.1:9515/session/a541374279edc6e63d0f9f1f157198d2/element/97f387a0-3e41-4023-a802-f64c7c97700a/text","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/json; charset=UTF-8"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\"value\":\"Twitter monitor\\nHashtag\\nWelcome\\nTwitter monitor\\nFind tweets with hashtag\\nStore new Hashtag\"}"},"http_version":null},"recorded_at":"Tue, 18 Feb 2020 15:15:10 GMT"},{"request":{"method":"get","uri":"http://127.0.0.1:9515/session/a541374279edc6e63d0f9f1f157198d2/window/handles","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/json; charset=UTF-8"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\"value\":[\"CDwindow-502A25382621EB0114FFA48CE31F3981\"]}"},"http_version":null},"recorded_at":"Tue, 18 Feb 2020 15:15:10 GMT"},{"request":{"method":"post","uri":"http://127.0.0.1:9515/session/a541374279edc6e63d0f9f1f157198d2/window","body":{"encoding":"UTF-8","string":"{\"handle\":\"CDwindow-502A25382621EB0114FFA48CE31F3981\"}"},"headers":{"Content-Type":["application/json; charset=UTF-8"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\"value\":null}"},"http_version":null},"recorded_at":"Tue, 18 Feb 2020 15:15:10 GMT"},[...]
{"request":{"method":"post","uri":"http://127.0.0.1:9515/session/a541374279edc6e63d0f9f1f157198d2/goog/cdp/execute","body":{"encoding":"UTF-8","string":"{\"cmd\":\"Storage.clearDataForOrigin\",\"params\":{\"origin\":\"*\",\"storageTypes\":\"cookies,local_storage\"}}"},"headers":{"Content-Type":["application/json; charset=UTF-8"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\"value\":{}}"},"http_version":null},"recorded_at":"Tue, 18 Feb 2020 15:15:11 GMT"},[...]
{"request":{"method":"post","uri":"http://127.0.0.1:9515/session/a541374279edc6e63d0f9f1f157198d2/url","body":{"encoding":"UTF-8","string":"{\"url\":\"http://127.0.0.1:55818/\"}"},"headers":{"Content-Type":["application/json; charset=UTF-8"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\"value\":{\"error\":\"invalid session id\",\"message\":\"invalid session id\",\"stacktrace\":\"0   chromedriver                        0x0000000107bd0e29 chromedriver + 3817001\\n1   chromedriver                        0x0000000107b64f33 chromedriver + 3374899\\n2   chromedriver                        0x00000001078e5712 chromedriver + 755474\\n3   chromedriver                        0x000000010784749c chromedriver + 107676\\n4   chromedriver                        0x000000010786e09c chromedriver + 266396\\n5   chromedriver                        0x000000010786c412 chromedriver + 259090\\n6   chromedriver                        0x000000010786bc57 chromedriver + 257111\\n7   chromedriver                        0x0000000107832c29 chromedriver + 23593\\n8   chromedriver                        0x0000000107b92f6f chromedriver + 3563375\\n9   chromedriver                        0x0000000107b9fe3a chromedriver + 3616314\\n10  chromedriver                        0x0000000107b9fbf7 chromedriver + 3615735\\n11  chromedriver                        0x0000000107b72699 chromedriver + 3430041\\n12  chromedriver                        0x0000000107ba0692 chromedriver + 3618450\\n13  chromedriver                        0x0000000107b86e17 chromedriver + 3513879\\n14  chromedriver                        0x00000001078304a0 chromedriver + 13472\\n15  libdyld.dylib                       0x00007fff59df13d5 start + 1\\n\"}}"},"http_version":null},"recorded_at":"Tue, 18 Feb 2020 15:15:34 GMT"},{"request":{"method":"get","uri":"http://127.0.0.1:9515/session/a541374279edc6e63d0f9f1f157198d2/screenshot","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/json; charset=UTF-8"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\"value\":{\"error\":\"invalid session id\",\"message\":\"invalid session id\",\"stacktrace\":\"0   chromedriver               [...]
[...]
