<h1>Editing Hashtag</h1>

<%= render 'form', hashtag: @hashtag %>

<%= link_to 'Show', @hashtag, class: 'btn btn-primary btn-sm' %> |
<%= link_to 'Back', hashtags_path, class: 'btn btn-primary btn-sm' %>
