<p>
  <strong>Term:</strong>
  <%= @hashtag.term %>
</p>

<%= link_to 'Edit', edit_hashtag_path(@hashtag), class: 'btn btn-primary btn-sm' %> |
<%= link_to 'Back', hashtags_path, class: 'btn btn-primary btn-sm' %>
